.jumbotron {
  background-color: darkblue;
  color: white;
  margin-top: 40px; }

.footer {
  padding: 10px 10px 0 10px;
  background: darkblue;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.card-hotel {
  flex: 1 200px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer a {
  color: #e9e9f4; }

.footer-address-icon {
  padding-right: 10px; }

.card-subtitle {
  margin-top: 10px; }

.card-img-top {
  width: 100%;
  height: 150px; }

.tab-content {
  padding-top: 10px; }

#btn3 {
  margin-left: 15px; }

.collapse {
  margin-top: 20px; }

.border {
  border-radius: 10px; }
